.body {
    background: var(--cor-historia);
}

.tecnologia_bandeira {
    display: flex;
    justify-content: center;
}

.textos__historia {
    font-size: 30px;
    text-align: canter;
    margin-left: 250px;
    margin-right: 250px;
}